
    html{
        font-size: 14px;
    }

    body {
        margin: 0;
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        font-size: 1.2rem;
        font-family: 'Lato' , 'snas-serfi';
    }   
    h1,h2,h3{
        font-family: 'Montserrat', sans-serif;
    }
    h1{
        font-size: 4rem;
        
    } 
    h2{
        font-size: 2.2rem;
    }
    p{
        max-width: 70ch;
        line-height:1.5em;
    }


    header{
        height: 55vh;
        background-image: url(../project/assets/img/studentsbg.png);
        z-index: -1;
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
       
    }

    header > div {
        position: absolute;
        top: 4rem;
        width: 95vw;
        background-color: #c5192d;
        padding: 2rem;
        margin: 1rem;
        ;
    }
    
    main {
        /*box-shadow: xoff yoff blur spreadRadius color*/
        box-shadow: 0 0 1px 0 darkgrey;
        background-color: whitesmoke;
    }   
    
    article {
        width: 100vw;
    }

    article img {
        width: 90%;
        

    }
    #intro-container{
        margin-top: 2rem;
        background-color: #c5192d;
        margin-bottom: 2rem;
    }

    #intro-container ul{
        list-style: none;
    }

    #intro-container ul li:nth-child(1)::before{
        content: '\1F64C';
        width: 1rem;
        margin: 1rem 1rem 0;
    }
    
    #intro-container ul li:nth-child(2)::before{
        content: '\1F3EB';
        width: 1rem;
        margin: 1rem 1rem 0;
    }
    
    #intro-container ul li:nth-child(3)::before{
        content: '\1F4DA';
        width: 1rem;
        margin: 1rem 1rem 0;
    }
    
@media only screen and (min-width: 600px) {

    body {
        font-size: 16px;
    }

    header {
        height: 65vh;
        
    }

    header, main, footer {
        width: 85vw;

    }
}
  

    
    


@media only screen and (min-width: 960px) {
    
}